.navbar__wrapper {
  .container {
    .row {
      justify-content: space-between;
      .logo__wrapper {
        z-index: 9;
        padding: 20px 0px;
        display: flex;
        flex-direction: column;
        transition: all 800ms ease-in-out 0s;

        &.active {
          color: $white;
        }
        span {
          font-size: 1.5rem;
          font-weight: 600;
          &:nth-child(2) {
            font-size: 1rem;
            font-weight: 500;
          }
        }
      }

      .hamburger__icon {
        z-index: 9;
        width: 30px;
        position: relative;
        display: flex;

        margin: 26px 0px;
        cursor: pointer;
        transition: 0.3s ease-out;

        &:hover {
          span {
            &:nth-child(2) {
              width: 100%;
            }
          }
        }
        &.active {
          span {
            background-color: $white;
            transform: rotate(-45deg) translateY(8px);

            &:nth-child(2) {
              width: 100%;
              transform: rotate(45deg) translateY(-7px);
            }
          }
        }
        span {
          display: block;
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: $black;
          transition: background-color 800ms ease-in-out 0.1s, transform 0.3s ease-out;
          transform-origin: center;

          &:nth-child(2) {
            margin-top: 10px;
            width: 60%;
          }
        }
      }
    }
  }
}

.menu__wrapper {
  position: absolute;
  inset: 0px;
  background: $redShade;
  overflow: hidden;
  width: 0px;
  height: 100vh;
  transition: all 800ms ease-in-out 0s;

  &.active {
    width: 100%;
  }
}
